* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}

.wrap {
  width: calc(1200px + 10%);
  padding: 0 5% 0;
  margin: 0 auto;
  overflow-x: hidden;
}
header {
  line-height: 50px;
  padding-top: 10px;
  /* margin: 0 5% 0; */
  /* border:1px solid red; */
}
nav {
  /* border:1px solid yellow; */
  font-size: 0;
  vertical-align: middle;
  position: relative;
}
nav > .typelogo_wrap {
  display: inline-block;
}
nav > .typelogo_wrap h1 {
  display: inline-block;
  font-size: 28px;
  font-family: "NEXON Lv2 Gothic Bold";
}
.typelogo {
  width: 12px;
  height: 19px;
  position: relative;
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 1px;
}
.typelogo span:not(.col_e) {
  display: inline-block;
  width: 12px;
  height: 3px;
  background-color: black;
  position: absolute;
}
.typelogo span:nth-child(1) {
  top: 0;
  left: 0;
}
.typelogo span:nth-child(2) {
  top: 8px;
  left: 0;
}
.typelogo span:nth-child(3) {
  bottom: 0;
  left: 0;
}
.typelogo span:nth-child(4) {
  display: inline-block;
  background-color: #0af;
  position: absolute;
  width: 3px;
  height: 19px;
  left: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0); /*x방향으로 트랜지션이 0*/
  transform: scaleX(0); /*x방향은 width방향.*/
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.typelogo_wrap:hover .col_e {
  transform: scaleX(1);
}
.main_menu_bar {
  width: 22px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 1px;
  cursor: pointer;
}
.main_menu_bar ul {
  display: none;
  width: fit-content;
  background-color: #efefef;
  font-size: 16px;
  position: absolute;
  top: 18px;
  right: 0;
}
.main_menu_bar ul li {
  padding: 0 20px 0;
  border-bottom: 1px solid #c4c4c4;
}
.main_menu_bar ul li:nth-child(2) > img {
  width: 100px;
}
.main_menu_bar.on ul {
  display: block;
}
.main_menu_bar span {
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: black;
  position: absolute;
}
.main_menu_bar span:nth-child(1) {
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.main_menu_bar span:nth-child(2) {
  top: 8px;
  left: 0;
  transition: all 0.1s ease-in-out;
}
.main_menu_bar span:nth-child(3) {
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.main_menu_bar.on > span:nth-child(1) {
  top: 8px;
  left: 0;
  transform: rotate(45deg);
  background-color: #0af;
}
.main_menu_bar.on > span:nth-child(3) {
  top: 8px;
  left: 0;
  transform: rotate(-45deg);
  background-color: #0af;
}
.main_menu_bar.on span:nth-child(2) {
  /* visibility: hidden; */
  /* background-color: #0af; */
  /* display: none; */
  opacity: 0;
}
.main_hero {
  width: max-content;
  padding-top: 140px;
  overflow: hidden;
  margin: 0 auto;
}
.main_hero img {
  width: 250px;
  height: 280px;
}
.main_hero img,
.main_info {
  float: left;
}
.main_info h1,
.main_info span {
  font-family: "Jost", sans-serif;
  color: white;
}
.main_info h1 {
  font-weight: 700;
  font-style: italic;
  font-size: 45px;
}
.main_info span:nth-child(2) {
  font-size: 22px;
  margin-left: 3px;
}
.main_info span:nth-child(4) {
  font-size: 16px;
  float: right;
  margin-top: 20px;
  text-align: end;
}
.main_info span:nth-child(4) > span {
  font-size: 14px;
}
.main_info {
  width: 350px;
  height: 260px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  padding: 20px 20px 0;
}
.wave {
  opacity: 0.4;
  position: absolute;
  top: -40%;
  left: 25%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  /* margin-top: -250px; */
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}
.wave.-three {
  animation: drift 5000ms infinite linear;
}
.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: yellow;
}
.box:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(250, 128, 217);
  background: linear-gradient(
    90deg,
    rgba(250, 128, 217, 1) 0%,
    rgba(148, 237, 251, 0.2) 65%,
    rgba(255, 255, 255, 0.5) 100%
  );
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
.main_info-text {
  width: fit-content;
  position: absolute;
  z-index: 100;
  margin-top: 20px;
  margin-left: 10px;
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  /* from { transform: rotate(180deg); } */
  from {
    transform: rotate(360deg);
  }
}
.content_1 {
  max-width: 100%;
  border: 1px solid black;
  /* display: flex; */
  /* justify-items: center; */
}
.content_2 {
  margin-top: 120px; /* 임시 */
  padding-top: 60px; /* 임시 */
  position: relative;
}
.content_4,
.content_3 {
  padding-top: 60px;
  position: relative;
}
.content_2::before,
.content_3::before,
.content_4::before {
  content: "";
  width: 100px;
  height: 4px;
  background-color: rgb(63, 63, 63);
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.content_3 > article,
.clone_coding,
.html_css {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 60px;
  text-align: center;
  font-family: "NEXON Lv1 Gothic OTF Light";
  /* border: 1px solid black; */
}
.content_3 > article > h3,
.clone_coding h3,
.html_css h3 {
  font-size: 24px;
  margin: 30px 0 60px;
}
.content_3 > article > ul,
.content_2 > .clone_coding > ul,
.content_4 > .html_css > ul {
  width: fit-content;
  margin: 0 auto;
}
.content_3 > article > ul::after,
.content_2 > .clone_coding > ul::after,
.content_4 > .html_css > ul::after {
  content: "";
  display: block;
  clear: both;
}
.content_3 > article > ul > li,
.content_2 > .clone_coding > ul > li,
.content_4 > .html_css > ul > li {
  float: left;
  /* text-align: start; */
}
.content_3 > article > ul > li,
.content_4 > .html_css > ul > li + li,
.content_2 > .clone_coding > ul > li {
  margin-left: 30px;
}
.content_3 > article > ul > li > a,
.content_2 > .clone_coding > ul > li > a,
.content_4 > .html_css > ul > li > a {
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(211, 211, 211, 0.5);
  transition: all 0.4s ease;
}
.content_3 > article > ul > li > a {
  display: table;
}
.content_3 > article > ul > li > a > span {
  display: table-cell;
  vertical-align: middle;
}
.content_2 > .clone_coding > ul > li:nth-child(1) > a {
  background: url(../images/RE1Mu3b.png) no-repeat;
  background-size: 80%;
  background-position: center center;
}
.content_2 > .clone_coding > ul > li:nth-child(2) > a {
  /* 미들 */
  background: url(../images/header_logo.png) no-repeat;
  background-position: center center;
}
.content_2 > .clone_coding > ul > li:nth-child(3) > a {
  background: url(../images/logo_kakao.png) no-repeat;
  background-position: center center;
}
.content_2 > .clone_coding > ul > li:nth-child(4) > a {
  background: url(../images/kakaotalk_logo.png) no-repeat;
  background-size: 40%;
  background-position: center center;
  cursor: pointer;
}
.content_2 > .clone_coding > ul > li > span {
  display: block;
  margin-top: 16px;
}
.content_2 > .clone_coding > ul > li:nth-child(4) > div {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
}
.content_2 > .clone_coding > ul > li:nth-child(4) > div > ul {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 20px 30px;
  background-color: white;
  text-align: left;
}
.content_2
  > .clone_coding
  > ul
  > li:nth-child(4)
  > div
  > ul
  > li:not(:last-child) {
  margin-bottom: 10px;
}
.content_2 > .clone_coding > ul > .clone-web-kakaoapp.on > div {
  display: block;
}
.content_3 > article > ul > li > a:hover,
.content_2 > .clone_coding > ul > li > a:hover,
.content_4 > .html_css > ul > li > a:hover {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 6px 4px rgba(148, 148, 148, 0.2);
  -moz-box-shadow: 0px 0px 6px 4px rgba(148, 148, 148, 0.2);
  box-shadow: 0px 0px 6px 4px rgba(148, 148, 148, 0.2);
}

.content_4 > .html_css > ul > li:nth-child(1) > a {
  background: url(../htmlNcss/practice01/imges/preview.JPG) no-repeat;
  background-size: cover;
  background-position: center center;
}
.content_4 > .html_css > ul > li:nth-child(2) > a {
  /* 미들사이즈 */
  background: url(../htmlNcss/practice02/preview.JPG) no-repeat;
  background-size: cover;
  background-position: top center;
}
.content_4 > .html_css > ul > li:nth-child(3) > a {
  background: url(../htmlNcss/practice03/img/preview.JPG) no-repeat;
  background-size: cover;
  background-position: 30% center;
}
.content_4 > .html_css > ul > li:nth-child(4) > a {
  background: url(../htmlNcss/practice04/img/preview.JPG) no-repeat;
  background-size: cover;
  background-position: center center;
}
.content_4 > .html_css > ul > li:nth-child(5) > a {
  background: url(../htmlNcss/practice05/images/preview.JPG) no-repeat;
  background-size: cover;
  background-position: center center;
}
footer {
  text-align: center;
  margin-top: 200px;
  font-size: 12px;
  color: rgb(185, 185, 185);
  padding-bottom: 60px;
}
footer i {
  margin: 0 10px 0;
}

@media screen and (max-width: 539px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 859px) {
  /* 750px쯤부터 메인이 깨짐 */
}
@media screen and (min-width: 860px) and (max-width: 1083px) {
}
@media screen and (max-width: 1399px) {
  .wrap {
    width: calc(100% - 10%);
  }
  section.content_1 {
    max-width: 100%;
    display: flex;
    border: 1px solid red;
  }
  section.content_1 > div {
    max-width: 100%;
  }
}
