
/* 반응형웹 */

/* 1317 */
@media screen and (max-width:640px){


}
@media screen and (min-width:641px) and (max-width: 960px){


}
@media screen and (min-width:961px) and (max-width: 1130px){
    section.primary_01 > div.intro > div > div.primary_01-text.on{
        margin-left: 20px;
    }


    section.primary_01 > div.intro > div{
        padding-top: 5%;
    }

    section.primary_01 > div:nth-child(1) > div > div:nth-child(2).primary_01-material{
        left: 17%;
        width: 33%;
    }
    section.primary_01 > div:nth-child(1) > div > div:nth-child(3).primary_01-material{
        left: 39%;
        width: 33%;
    }
    section.primary_01 > div.primary_01-notice > div:first-child > div:nth-child(3) > div:nth-child(1) > dl{
        width: 55%;
 
    }
    section.primary_01 > div.primary_01-notice > div:first-child > div:nth-child(3) > div:nth-child(1){
        
    }
}
/* @media screen and (min-width:961px){

} */
