/* fiding components parts 공통부분 찾고 컴포넌트로 만들 수 있도록 한다 추후 css파일 통합*/
*{
	box-sizing: border-box;
	font-family: 'Segoe UI',SegoeUI,'Malgun Gothic',Gulim,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #000;
}
/* header 헤더 */
header{
	width: 100%;
	height: 54px;
	position: relative; 
}
/* 서브 헤더의 경우 wrap의 max-width: calc(1600px + 10%) 배제되어 있음 */
header::after{
	content: '';
	display: block;
	clear: both;
}
/* 서브 헤더 */
.header_sub{
	max-width: calc(1600px + 10%);
	padding: 0 5%;
	margin: 0 auto;
	height: 54px;
}
.back_to_micro365, .back_to_windows, .gnb_menu{
	float:left;
}/* gnb_menu는 공통 */
.header_sub > .gnb_util_box > .gnb_util{
	float: right;
}
nav div[class^="gnb_"]{
	padding: 0 0 0 10px;
	margin-top:4px;
}
.gnb_menu_list > li{
	display: inline-block;
}
.gnb_menu_list > li:not(.spacing),
.gnb_menu_list > li:not(:last-child){
	padding: 16px 12px;
}
.gnb_menu_list > li.spacing > a{
	padding: 16px;
}
.gnb_menu_list > li:last-child a{
	padding: 8px;
	border: 1px solid #000;
	border-radius: 3px;
}
.gnb_util_list a{
	padding: 16px 8px 10px;
}
.gnb_util > li .lnb_drop_btn, .header_sub > .gnb_util_box > .gnb_util > li > a {
	padding: 16px 8px 10px;
	margin-top: 4px;
}
.header_sub > nav div[class^="gnb_"], nav a{
	color: #262626;
	text-decoration: none;	
}
.header_sub > nav > div > ul.gnb_menu_list, 
.header_sub > .gnb_util_box > ul.gnb_util{
	font-size: 0;
}
ul.gnb_menu_list li, .header_sub > .gnb_util_box > ul.gnb_util li{
	display: inline-block;
	font-size: 13px;
	color: #262626;
}
/* header-logo */
a.logo{
	/*border: 2px solid lime;*/
	display: block;
	width:137px;
	height: 54px;
	padding: 16px 6px 16px 10px;
	float: left;
	position: relative;
}
a.logo:focus, .gnb_menu > li > a:focus, .gnb_util > li > a:focus {
	outline: 1px dashed;
}
a.logo img{
	display: block;
	width: 108px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.header_sub .gnb_util_box > .gnb_util > li:nth-child(2) > .lnb_search-hide{
	width: calc(100% - 5% - 137px);
	margin:0 auto;
}
/* 전체메뉴보기 clickWork 드롭다운 메뉴 */
.gnb_util > li:nth-child(1).on{
	background-color: rgb(242, 242, 242);
}
ul.gnb_util > li:nth-child(1) > ul{
	width: 1230px;
	height: 429px;
	display: none;
	position: absolute;
	z-index: 600;
	/* top: 54px; */
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(242, 242, 242);
}
ul.gnb_util > li > ul > li{
	width: 200px;
	height: 339px;
	display: inline-block;
	vertical-align: top;
}
ul.gnb_util > li:nth-child(1).on > .lnb_drop_btn:focus{
	outline: 1px dashed;
}
ul.gnb_util > li:nth-child(1).on > ul{
	display: block;
}
.gnb_util:after{
	content: '';
	display: block;
	clear: both;
}
ul.gnb_util > li:nth-child(1).on .fa-chevron-up{
	transform: rotate(360deg);
	padding-left: 5px;
	padding-right: 0;
}
.gnb_util > li:nth-child(2) > .lnb_search-hide{
	width: calc(100% - 137px);
	line-height: 54px;
	vertical-align: middle;
	background-color: white;
	border:transparent;
	display: none;
	position: absolute;
	top:0;
	right: 0;
	transition: all .5 linear;
}
.gnb_util > li:nth-child(2) > .lnb_search-hide > form {
	border:transparent;
    height: 54px;
	position: relative;
	/* border:1px solid red; */
}
.gnb_util > li:nth-child(2) > .lnb_search-hide > form > input{
	width: calc(95% - 80px); /* 값은 임의조정함. 추후 재조정하기 */
	border: 2px solid black;
	font-size: 13px;
	padding: 7px 38px 7px 10px;
}
 .lnb_search-hide > form > button.lnb_search-iconbtn {
    position: absolute;
    top: 50%;
    left: calc(95% - 110px);
    transform: translateY(-50%);
} 
.gnb_util > li:nth-child(2) > .lnb_search-hide > form > input::after{
	content: "\f002";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
}
.gnb_util > li:nth-child(2).on > .lnb_search-hide{
	display: block;
}
.gnb_util > li:nth-child(2) > .lnb_search-hide .lnb_search-cancel{
	width: 75px;
	height: 32px;
    margin-left: 5px;
    margin-top: 12px;
	padding: 6px;
	border: 1px solid black;
}
.gnb_menu > li > a > span:hover,
.gnb_menu_list > li > a > span:hover, .gnb_util > li span:hover:not(.spanoff){
	border-bottom: 2px solid black;
}
.fa-search{
	padding-right: 5px;
}
.fa-shopping-cart, .fa-user {
	padding-left: 5px;
}
.fa-chevron-up{
	transform: rotate(180deg);
	padding-right: 5px;
}
