*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Segoe UI',SegoeUI,'Malgun Gothic',Gulim,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #000;
}
button{
	border:none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}
ul{
	list-style: none;
	padding: 0;
}
#wrap{
	/*border:1px solid lime;*/
	max-width: calc(1600px + 10%);
	min-width: 338px;
	padding-right: 5%;
	padding-left: 5%;
	margin:0 auto;
	overflow: hidden;/*임시*/
}

.header_wrap{
	width: 100%;
	height: 54px;
	position: relative; /* 서치창 */
	/*line-height:54px;
	vertical-align: middle;*/
	/* border:1px solid green; */
}

.header_wrap::after{
	content: '';
	display: block;
	clear: both;
	/* border:1px solid red; */
}
/*로고 부분 */

a.logo{
	/*border: 2px solid lime;*/
	display: block;
	width:137px;
	height: 54px;
	padding: 16px 6px 16px 10px;
	float: left;
	position: relative;
}
a.logo:focus, .gnb_menu > li > a:focus, .gnb_util > li > a:focus {
	outline: 1px dashed;
}
a.logo img{
	width: 108px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

		/*GNB 메뉴 부분*/
/*.header_wrap{
	border: 1px solid transparent;
}*/
/* nav > ul.attachedul{display: none;} */

nav{
	float: left;
	padding-left: 1px;
	padding-right: 1px;
	/* border:1px solid green; */
}
nav > .attachedul{display: none;}
ul.gnb_util{
	float: right;
}
.gnb_menu,.gnb_util{
	font-size: 0;
}
.gnb_menu > li, .gnb_menu > li > a,
.gnb_util>li, .gnb_util > li > a{
	display: inline-block;
	font-size: 13px;
}

.gnb_menu>li > a, .gnb_util > li > a{
	padding: 16px 8px 10px;
	margin-top: 4px;/*임의 수정 1-4로*/
}
.gnb_util > li .lnb_drop_btn {
	padding: 16px 8px 10px;
	margin-top: 4px;
}

.gnb_util > li.lnb_search-hide{
	width: calc(100% - 137px);
	line-height: 54px;
	vertical-align: middle;
	background-color: white;
	border:transparent;
	display: none;
	position: absolute;
	top:0;
	right: 0;
	transition: all .5 linear;
}
.gnb_util > li.lnb_search-hide > form {
	border:transparent;
    height: 54px;
	position: relative;
	/* border:1px solid red; */
}
.gnb_util > li.lnb_search-hide > form > input{
	width: calc(95% - 80px); /* 값은 임의조정함. 추후 재조정하기 */
	border: 2px solid black;
	font-size: 13px;
	padding: 7px 38px 7px 10px;
}
 .lnb_search-hide > form > button.lnb_search-iconbtn {
    position: absolute;
    top: 50%;
    left: calc(95% - 110px);
    transform: translateY(-50%);
} 

.gnb_util > li.lnb_search-hide > form > input::after{
	content: "\f002";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	 position: absolute;
}

.gnb_util > li.lnb_search-hide.on{
	display: block;
}

.gnb_util > li.lnb_search-hide .lnb_search-cancel{
	width: 75px;
	height: 32px;
    margin-left: 5px;
    margin-top: 12px;
	padding: 6px;
	border: 1px solid black;
}
.gnb_menu>li>a>span:hover,.gnb_util>li span:hover:not(.spanoff){
	border-bottom: 2px solid black;
}
.fa-search{
	padding-right: 5px;
}
.fa-shopping-cart, .fa-user {
	padding-left: 5px;
}
.fa-chevron-up{
	transform: rotate(180deg);
	padding-right: 5px;
}
ul.gnb_util > li > ul{
	width: 1230px;
	height: 429px;
	display: none;
	position: absolute;
	z-index: 600;
	top: 54px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(242, 242, 242);
}
ul.gnb_util > li > ul > li{
	width: 200px;
	height: 339px;
	display: inline-block;
	vertical-align: top;
}

ul.gnb_util > li:nth-child(1).on{
	background-color: rgb(242, 242, 242);
}
ul.gnb_util > li:nth-child(1).on > .lnb_drop_btn:focus{
	outline: 1px dashed;
}
ul.gnb_util > li > ul.on{
	display: block;
}
.gnb_util:after{
	content: '';
	display: block;
	clear: both;
}
ul.gnb_util > li:nth-child(1).on .fa-chevron-up{
	transform: rotate(360deg);
	padding-left: 5px;
	padding-right: 0;
}
/* main_slider */

.slider div[class^=slider_item]{
    width:100%;
    height: 100%;
}
.slider div[class^=slider_item] img{
    vertical-align: top;
    width: 100%;
}

.primary_main > .bx-wrapper{
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    margin: 0;
}
.slider_item-1, .slider_item-2{
    /* border:1px solid red; */
    position: relative;
}
/* .slider_info-1{
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
} 홈페이지 변경됨 0713*/
div[class^='slider_info']{
	/* text-align: center; 홈페이지 변경됨0713 */
	max-width: 520px
}
.slider_info-1,.slider_info-2{
    /* border:1px solid blue; */
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
}
.slider > li[class^='slider_item'] a{
    /* border:1px solid red; */
    display: block;
}
div[class^='slider_info'] h1{
	font-size: 46px;
	font-weight: 600;
	line-height: 56px;
	letter-spacing: -.01em;/*라인하이트와 레터스페이싱 공부 필요*/
	max-height: 112px
}

div[class^='slider_info'] p{
	margin-top: 12px;
	font-size: 15px;
}
/* .slider_info-1 h1, .slider_info-1 p, 홈페이지 변경됨0713*/
.slider_info-btn-text1, .slider_info-btn1:after,
.slider_info-btn-text2, .slider_info-btn2:after{
    color: #ffff;
}

.slider_info-btn1, .slider_info-btn2 {
	padding:10px 20px 6px 22px;
	margin-top:24px;
	cursor: pointer;
	border: 2px solid transparent;/*가로 크기조절이 잘 안됨*/

	line-height:18px;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
}
/* .slider_info-btn1{
    background-color: #e6e6e6;
} 홈페이지 변경됨0713*/
.slider_info-btn1, .slider_info-btn2{
    background-color:#1A1A1A;
}
.slider_info-btn1:after, .slider_info-btn2:after{
	content: '\003E';
	display: inline-block;
	padding-left: 9px; 
	-webkit-transition:transform .5s ease;
    transition: transform .5s ease;
}
.slider_info-btn-text1, .slider_info-btn-text2{
	display: inline-block;
	border-bottom: 2px solid transparent;
	-webkit-transition:transform .5s ease;
	transition: transform .5s ease;
}
.slider_info-btn1:hover .slider_info-btn-text1,
.slider_info-btn2:hover .slider_info-btn-text2{
    -webkit-transform: translateX(-5px);
	transform: translateX(-5px);
}
.slider_info-btn1:hover .slider_info-btn-text1{
    border-bottom: 2px solid black;
}
.slider_info-btn2:hover .slider_info-btn-text2{
    border-bottom: 2px solid white;
}
.slider_info-btn1:hover:after, .slider_info-btn2:hover:after{
    -webkit-transform: translateX(5px);
	transform: translateX(5px);
}
.primary_main .bx-wrapper .bx-pager, .primary_main .bx-wrapper .bx-controls-auto{
    padding: 0;
    bottom: 30px;
}
.primary_main .bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link{
  /* outline: solid 1px #fff; */
    display: inline-block ;
    width: 5px ;
    height: 5px ;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 0px 1px  rgba(0,0,0,.5);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.5);
    background-color: transparent ;
    margin: 5px;
}
.primary_main .bx-wrapper .bx-pager.bx-default-pager a:hover,
.primary_main .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background-color: rgb(100, 100, 100);
}
.primary_main .bx-pager-item{
    margin: 0 2px;
}
.primary_main .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color:black ;
    outline: 2px solid black;
    outline-offset: 5px;
}

.primary_main .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{
	text-align: right ;
	width: calc(50%);	
}	
.primary_main .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{
	left: 0;
	right: 0 ;
	width: 100% ;
}
.primary_main .bx-wrapper .bx-controls-auto div:first-child{
	visibility: hidden ;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{
	height: 50px;
}
.bx-wrapper .bx-controls-auto .bx-controls-auto-item{
	position: absolute;
	left: calc(50% + 20px);
	bottom:2px;
}
.bx-wrapper .bx-controls-auto .bx-stop.active:focus{
		outline: 2px solid;
		outline-offset: 12px;
}	

.bx-controls-direction .bx-prev, .bx-controls-direction .bx-next{
    visibility: hidden;
}
.bx-wrapper:hover .bx-prev,.bx-wrapper:hover .bx-next{
    visibility: visible;
}
		/*슬라이드 끝*/
.quick_menu{
	margin-top: 48px;
	text-align: center; /*퀵메뉴만 중앙 정렬*/
}
.quick_menu a{display: block;}
.quick_menu>ul{
	text-align: center; /*퀵 메뉴 내 타이포만 중앙정렬*/
	display: inline-block;
	vertical-align: top;
}
.quick_menu>ul>li{
	float: left;
	font-weight: 600;
}
.quick_box{
	/*border: 1px solid tomato;*/
	width: 184px;
	display: inline-block;
	padding: 12px 6px;
}
.quick_box img{
	/*border: 1px solid blue;*/
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-bottom: 8px;
}
.quick_box div{
	/*border: 1px solid green;*/
	max-width:125px;
	margin-left: 28px;
	line-height: 20px;
}
.quick_menu a:hover .quick_box>div{
	text-decoration: underline;
}
        /*product 부분*/
/* .primary_2,.primary_4 {border: 1px solid red;} */
.product{
	overflow: hidden;
	width: calc(100% + 24px);
	margin-top: 48px;
	margin-left: -12px;
	font-size: 15px;
	/* border:1px solid blue; */
}
.product_right::before, .product_left::before{
    clear: none;
}
.product a.product_link_wrap,.product img{
	display: block;
	width: 100%;
	/*border: 1px solid tomato;*/
}
.product_box{
	float: left;
	/*border: 1px solid black;*/
	width: calc(25% - 24px);
	margin: 0 12px;
	overflow: hidden;
}
.product a{
	position: relative;
}
.product h3, div[class^="service_"] h3{
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	opacity: .95;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-right: 12px;
	margin-top: 37px;
}
.product p, div[class^="service_"] p{
	padding-top:2px;
	padding-right: 12px;
}
.product span{
	display: inline-block;
	font-weight: 600;
	text-align: left;
	color: #005da6;
	vertical-align: top;
	border-bottom: 2px solid transparent;/*박스 늘어남 고정*/
}
a.sub_link{
	display: inline-block;
	padding: 10px 3px 7px 0;
	position: relative;
}
		/*꺽쇠모양 넣은 부분 ㅠㅠ*/
a.sub_link:after{
	font-size: 15px;
	font-weight: 600;
	/*margin-top: -1px;*/
	margin-left: 3px;
	display: inline-block;
/*	position: relative;*/
	right: 0;
	content: '\003E';
	vertical-align: top;
	color: #005da6;

	-webkit-transition: transform .5s ease;
	-moz-transition: transform .5s ease;
	-o-transition: transform .5s ease;
	-ms-transition: transform .5s ease;
	transition: transform .5s ease;
}
.product_link_wrap:hover .product_img, .product_link_wrap:focus .product_img,
.customer_service img:hover, .customer_service img:focus{
	opacity: .9;	
}
.sub_link:hover .sub_link_text, .sub_link:focus .sub_link_text{
	border-bottom: 2px solid  #005da6;
	/*box-shadow: 0 1px 1px rgba(0, 93, 166, .1);*/
}
.product a:hover:after, .product a:focus:after,
.service_wrap a:hover:after, .service_wrap a:focus:after{
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}
		/*promotion 부분*/
.promotion{
	margin-top: 48px;
	position: relative;
	width: 100%;
}
.promotion_location{
	width: 88%;
	margin:0 auto;
}
.promotion img{
	width: 100%;
}
.promotion_slogan{
	max-width: 520px;
	position: absolute;
	left:6%;
	top:50%;
	transform: translateY(-0%);
	-webkit-transform: translateY(-50%);
}
.promotion_slogan h2{
	font-size: 46px;
	padding: 37px 0 3px 0;
	opacity: .9;
	font-weight: 600;
}
.promotion_slogan p{
	padding:12px 0 24px 0;
}
.promotion_btn{
	border: 2px solid transparent;
	padding: 10px 20px 6px 22px;
	font-size: 15px;
	font-weight: 600;
	line-height: 18.5px;
	vertical-align: top;
	color:#fff;
	outline: 1px solid transparent;
	background-color: #1a1a1a;
	cursor: pointer;
}
span.promotion_btn_text{
	display: inline-block;
	border-bottom: 2px solid transparent;
	color:#fff;
	-webkit-transition:transform .5s;
	transition: transform .5s;
}
.promotion_btn:after{
	content: '\003E';
	margin-left: 3px;
	display: inline-block;
	vertical-align: top;
	-webkit-transition:transform .5s ease;
	transition: transform .5s ease;
}
.promotion_btn:hover .promotion_btn_text, .promotion_btn:focus .promotion_btn_text{
	border-bottom: 2px solid #fff;
	-webkit-transform: translateX(-5px);
	transform: translateX(-5px);
}
.promotion_btn:hover:after, .promotion_btn:focus:after{
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
}
		/*service 부분*/

.customer_service{
	margin-top: 48px;
}
.customer_service > h3.service_title{
	margin-bottom: 24px;
	font-size:24px;
}
.service_wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.service_wrap div{
	float: left;
	max-width: 23.875%;
}
.service_wrap div img{
	width: 100%;
}
.service_wrap a, img{
	display: block;
}
.service_wrap span{
	display: inline-block;
	font-weight: 600;
	text-align: left;
	color: #005da6;
	vertical-align: top;
	border-bottom: 2px solid transparent;/*박스 늘어남 고정*/
	transition: border-bottom .5s;
}
/*
.service_wrap a:after{
	-webkit-transition: transform .5s;
	-moz-transition: transform .5s;
	-o-transition: transform .5s;
	-ms-transition: transform .5s;
	transition: transform .5s;
	
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
*/
.follow{
	/*border: 1px solid blue;*/
	clear: both;
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 48px;
	font-family: 'Segoe UI',SegoeUI,'Malgun Gothic',Gulim,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.follow span, .follow ul li{
	float: left;
}
.follow span{
	padding-right: 12px;
	font-size: 15px;
	line-height: 20px;
	color: rgba(0,0,0,.6);
	margin-bottom: 4px;
}
.follow ul li{
	/*border: 1px solid blue;*/
	display: inline-block;
	margin-right: 12px;
}
.follow a{
	/*border: 1px solid tomato;*/
}
        /*footer 부분*/
        
.mainfooter_wrap{
	/*border: 1px solid black;*/
	max-width: 100%;
	min-width: 338px;
	margin-top:48px;
	background-color: #f2f2f2;
	overflow: hidden;
}
.mainfooter_nav{
	/*border: 1px solid red;*/
	max-width: calc(1600px + 10%);
	padding-right: 5%;
	padding-left: 5%;
	margin:0 auto;
	display: flex;
	/* flex: 1; */
	justify-content: space-between
}
.mainfooter_list{
	width: 16.6666666667%;
	padding:0 12px;
}
.mainfooter_list:first-child{
	padding-left: 0;
}
.mainfooter_list h4{
	padding:36px 0 4px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
	color: #616161;
}
.mainfooter_list li{
	font-size: 11px;
	line-height: 16px;
	padding: 8px 0 8px;
	opacity: .6;
}

.mainfooter_util{
	/*border: 1px solid blue;*/
	overflow: hidden;
	margin:0 auto;
	max-width: calc(1600px + 10%);
	padding-right: 5%;
	padding-left: 5%;
	padding: 30px 5% 16px;
	font-size: 0;
}
.mainfooter_util .mainfooter_util_language{
	float: left;
}
.mainfooter_util_corporate{
	float: right;
	font-size: 0;
}
.mainfooter_util_corporate ul li{
	display: inline-block;
}
.mainfooter_list li:hover{
	text-decoration: underline;
	opacity: .95;
}
.mainfooter_util_language a, .mainfooter_util_corporate li{
	font-size: 11px;
	line-height: 16px;
	opacity: .6;
}
.mainfooter_util_corporate li{
	padding: 0 24px 4px 0;
}
.mainfooter_util_language a:hover,.mainfooter_util_language a:focus{
	text-decoration: underline;
}
.mainfooter_util_corporate li:hover:not(.mainfooter-copyright){
	text-decoration: underline;
	opacity:.95;
}
.fa-globe-americas{
	margin-right: 5px;
}
.mainfooter_util_language i {
	font-size: 18px;
	vertical-align: bottom;
}
@media screen and (max-width:539px) {
	.product .product_box{float: none; width: calc(100% - 24px);}
	.customer_service .service_wrap div{max-width: calc(100% - 24px);}
	.product{margin-top: 0;}
	.product .product_box, .customer_service .service_wrap div+div{margin-top:48px ;}
	.product .product_box h3, .customer_service .service_wrap div[class^="service_"] h3	{margin-top: 12px;}
	
	.mainfooter_nav .mainfooter_list{width: 100%;}
	.mainfooter_util_corporate li{padding-right: 10px;}
	.mainfooter_list:first-child{padding-left: 12px;}
}
@media screen and (max-width:768px){
	.quick_menu {margin-top: 0;}
	.slider_item-1 .slider_info-1, .slider_item-2 .slider_info-2,
	.promotion_slogan{
		text-align:center;
		position: static;
		transform: none;
		height: 280px;
		padding:60px 6% 60px 6%;
		min-width: calc(88% + 12%);
		background-color: #E6E6E6;
	}
	.slider_item-1 .slider_info-1 h1, .slider_item-2 .slider_info-2 h1, .promotion_location .promotion_slogan h2{font-size: 20px; padding: 2px 0 3px 0;}
	.slider_item-1 .slider_info-1 p, .slider_item-2 .slider_info-2 p {margin-top: 0;}
	.slider_info-btn1, .slider_info-btn2, .promotion_btn {margin-bottom: 60px; margin-top: 12px;}
	.promotion_location .promotion_slogan p{padding:0}
	
	.promotion_location{width: 100%;}
	.promotion_slogan h2{padding-top: 0;}

	.quick_menu>ul {display: block; text-align: left; padding:48px 5% 0; }
	.quick_menu>ul>li{float: none;}
	.quick_box{width: 100%;}
	.quick_box > div {margin: 0; /* min-width:100% ;*/ display: inline}
	.quick_box > img{ width: 20px; height: 20px;}

	.mainfooter_util .mainfooter_util_language, .mainfooter_util_corporate{float: none;}
	.mainfooter_util_corporate > ul {margin-top: 16px}
}
@media screen and (max-width:859px){

	.header_wrap{text-align: center;position: relative;}
	.logo_box{display: inline-block;}
	.gnb_util{float: none; position: absolute;top:0; right: 0; width: 100%; text-align: right;}
	.gnb_util > li:nth-child(1){display: none;}
	.gnb_util > li:nth-child(2){position: absolute; left:50px;}
	
	ul.gnb_menu{float: none;}
	.slider_item-1, .slider_item-2{overflow: hidden; height: 100%;}
	.slider div[class^=slider_item] img{transform: scale(1.0125);height: 100%;width: auto;}
	/* .lnb_search-hide > form > button.lnb_search-iconbtn{left:30px;} */
	
	.gnbmenu_bar-box > span.gnbmenu_bar1,
	span.gnbmenu_bar2, span.gnbmenu_bar3{width: 24px; height: 2px; background-color: black;transition: all .2s ;}

	.gnbmenu_bar-box > span.gnbmenu_bar1{
		position: absolute;
		top:0;
		left: 0;
	}
	.gnbmenu_bar-box > span.gnbmenu_bar2{
		position: absolute;
		top:8px;
		left: 0;
	}
	.gnbmenu_bar-box > span.gnbmenu_bar3{
		position: absolute;
		bottom:0;
		left: 0;
	}
	.header_wrap > .gnbmenu_bar-box {
		width: 26px;
		height: 18px;
		position: absolute;
		top:50%;
		left: 16px;
		transform: translateY(-50%);
		cursor: pointer;
	}
	.header_wrap > .gnbmenu_bar-box.on{
		outline: 2px dashed;
		outline-offset: 12px;
	}
	nav.on > .gnb_menu > li{display: block; cursor: pointer;}
	nav{display: none;}
	nav.on{
		width: 100%;
		display: block;
		position: absolute;
		top:54px; 
		left: 0;
		z-index: 8888;
		background-color:#F2F2F2;
		text-align:left;
	}
	nav > ul.attachedul{display: block;}
	nav.on > ul.attachedul strong{
		font-weight: 400;
	}
	nav.on > .gnb_menu > li > a,  nav.on > ul.attachedul > li > a{
		display: block;
		font-size: 15px;
		padding: 14px 24px 15px 15px;
		margin: 0;
		border-top:1px solid rgb(221, 221, 221);
		border-bottom: transparent;
	}
	nav.on > ul.attachedul > li > a:not(:last-child)::after{
		content: '\f078';font-family: "Font Awesome 5 Free";font-weight: 900;
		position: absolute;
		right: 15px;
	}
	nav.on > ul.attachedul > li.on > a:not(:last-child)::after{
		transform: rotate(180deg);
	}
	nav.on > ul.attachedul > li:nth-child(7) a{
		border-bottom: 2px solid rgb(0, 0, 0);
	}
	nav.on > .gnb_menu > a:focus,
	nav.on > ul.attachedul > li > a:focus {
		outline: 1px dashed;
		/* border: 1px solid black; */
	}
	.gnb_menu > li > a > span:hover{border:transparent;}
	nav .attachedul li > ul{ display: none;}
	nav .attachedul li > ul > li > a {display: block;}
	nav .attachedul li > ul.on > li > a{padding: 14px 24px 15px 15px;}
	nav .attachedul li > ul.on > li > a:focus {outline: 1px dashed;}
	nav .attachedul li > ul.on{display: block; padding-left: 30px;}
	nav .attachedul li > ul.on > li+li{border-top:1px solid rgb(221, 221, 221);}
	.header_wrap > .gnbmenu_bar-box.on span.gnbmenu_bar1{
		top:8px;
		left: 0;
		transform: rotate(45deg);
	}
	.header_wrap > .gnbmenu_bar-box.on span.gnbmenu_bar2{display: none;}
	.header_wrap > .gnbmenu_bar-box.on span.gnbmenu_bar3{
		top:8px;
		left: 0;
		transform: rotate(-45deg);
	}
	
	.gnb_util > li.lnb_search-hide > form{background-color: white; z-index: 9999;}
	.gnb_util > li.lnb_search-hide > form > input{width: calc(100% - 55px);padding-left: 40px; margin:10px;}
	.gnb_util > li.lnb_search-hide{width:100%; right: 0; /* border:1px solid salmon */}
	.gnb_util > li.lnb_search-hide .lnb_search-cancel span{display: none;}
	.gnb_util > li.lnb_search-hide .lnb_search-cancel::after{content: '\f060';font-family: "Font Awesome 5 Free";font-weight: 900;}
	.gnb_util > li.lnb_search-hide .lnb_search-cancel{width: auto;padding: 0 8px;margin-left:10px;position: absolute;top:0;left: 0; border:transparent;}
	.lnb_search-hide > form > button.lnb_search-iconbtn{left: 50px;}
	/* footer 푸터 */
	.mainfooter_nav{flex-wrap: wrap;}
	.mainfooter_list{width: 33.333333%;}
	/*max-width: 1083px와 동일한 것*/
	.product_box{width: calc(50% - 24px);}
	.product_right::after, .product_left::after{content: ''; display: block; clear: both;}
	.product_right{margin-top: 60px;}
	#wrap{max-width: 100%; padding-right: 0; padding-left: 0;}
	.header_wrap, .primary_2, .primary_4{max-width: calc(1600px + 10%); padding: 0 5%;}
	aside{padding-left: 24px;}
	.service_wrap div{max-width: calc(50% - 24px);}
	.service_wrap div:nth-child(3),.service_wrap div:nth-child(4){margin-top:60px}
	li.slider_item-2 div.slider_info-2{max-width: 340px;}
}
@media screen and (min-width:860px) and (max-width: 1083px){
	.product_box{width: calc(50% - 24px);}
	.product_right::after, .product_left::after{content: ''; display: block; clear: both;}
	.product_right{margin-top: 60px;}
	#wrap{max-width: 100%; padding-right: 0; padding-left: 0;}
	.header_wrap, .primary_2, .primary_4{max-width: calc(1600px + 10%); padding: 0 5%;}
	.gnb_util > li.lnb_search-hide{ width: calc(100% - 10% - 137px); right: 5%;}
	aside{padding-left: 24px;}
	.service_wrap div{max-width: calc(50% - 24px);}
	.service_wrap div:nth-child(3),.service_wrap div:nth-child(4){margin-top:60px}
	nav > ul.attachedul{display: none;}
	li.slider_item-2 div.slider_info-2{max-width: 340px;}
}
@media screen and (max-width: 1399px){
	div[class^='slider_info'] h1{font-size: 24px; line-height: 28px;}
	.promotion_slogan h2{font-size: 24px; line-height: 28px;}
	ul.gnb_util > li:nth-child(2) span, ul.gnb_util > li:nth-child(4) span,
	ul.gnb_util > li:nth-child(5) span{display: none;}
	.slider_item-2 .slider_info-2{max-width: 440px;}
	/* nav > ul.attachedul{display: none;} */
}