body {
  font-family: sans-serif;
  background-color: rgb(206, 206, 206);
}

html * {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.wrap {
  width: 324px;
  height: fit-content;
  position: relative;
  margin: 0 auto;
}
.content {
  padding: 30px 15px 0;
  background-color: #f8f8f8;
  border-radius: 25px;
}
.main_header {
  text-align: center;
}
.main_header h2 {
  display: inline-block;
}
.main_header i {
  vertical-align: middle;
  line-height: 30px;
  font-size: 18px;
}
.main_header i.main_menu-bar {
  float: left;
}
.main_header i.main_menu-search {
  float: right;
}
.main_header::after {
  content: "";
  display: block;
  clear: both;
}
.popular {
  /* border: 1px solid blue; */
  position: relative;
}
.popular h3 {
  font-size: 16px;
  margin-top: 28px;
  margin-bottom: 10px;
}
.popular_items::after {
  content: "";
  display: block;
  clear: both;
}
.popular_items > li {
  text-align: center;
  width: 142px;
  height: 95px;
  background-color: blue;
  float: left;
  margin-top: 10px;
  border-radius: 12px;
  background: url(../img/brooke-lark-HlNcigvUi4Q-unsplash.jpg);
  background-size: cover;
}
.popular_items > li:nth-child(2n) {
  margin-left: 10px;
}
.popular_items a {
  display: block;
}
.popular_items > li strong {
  display: inline-block;
  line-height: 95px;
  vertical-align: middle;
  font-size: 15px;
  color: rgb(204, 204, 204);
}
.popular span {
  position: absolute;
  top: 0;
  right: 0;
  color: tomato;
  font-size: 14px;
  font-weight: bold;
}
.other h4 {
  margin: 20px 0 18px 0;
  font-size: 14px;
}
.other_items li {
  width: calc(324px - 40px);
  height: 55px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 14px;
  background: linear-gradient(To top, white, rgba(255, 255, 255, 0.1));
  position: relative;
  padding: 16px 0 0 10px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.other_items a {
  display: block;
  height: 55px;
  /* border: 1px solid black; */
}
.other_items a strong,
.other_items a span {
  display: block;
}
.other_items a strong {
  font-size: 14px;
}
.other_items a span {
  font-size: 16px;
}
.other_items i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: tomato;
}
.nav_bottom {
  width: calc(324px - 50px);
  height: 80px;
  padding: 0 25px;
  border-radius: 0 0 25px 25px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.nav_bottom > ul {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
.nav_bottom > ul > li i {
  font-size: 25px;
  transition: 0.2s;
}
.nav_bottom i:hover {
  color: tomato;
}
.other_items li:hover {
  transform: scale(1.01, 1.01);
}
