.quick_menu{
    display: flex;
    justify-content: space-between;
    
    
}
.quick_menu > li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quick_menu > li > i{
    font-size: 35px;
}
.quick_menu > li > span{
    margin-top: 15px;
}
.recommended_friends{
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 25px 0;
    margin: 25px 0;
    text-align: center;
}
.recommended_friends > h6{
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    text-align:left;
}
.recommended_friends > span{
    display: block;
    margin: 5px 0 45px;
    text-align: center;
    color: rgba(0, 0, 0, .5);
    font-size: 16px;
}
.recommended_friends img{
    width: 170px;
    margin-top: 10px;
}
.open_chat_header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}
.open_chat_header span{
    opacity: .6;
}
.open_post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open_post > .open_post_column:first-child > h5{
    font-weight: 600;
    margin-bottom: 7px;
}
.open_post > .open_post_column:first-child > h6{
    text-transform: uppercase;
    opacity: .6;
}
.open_post > .open_post_column:first-child > div{
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.open_post > .open_post_column:first-child > div > img{
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
.open_post > .open_post_column:first-child > div > span{
    opacity: .5;
    font-size: 14px;
}
.open_post > .open_post_column:first-child > div > span:nth-child(2)::after{
    content: '';
    display: inline-block;
    width: 2px;
    height: 12px;
    background-color: rgba(0, 0, 0, .5);
    margin: 0 5px;
}
.open_post > .open_post_column:first-child > div > span:nth-child(3){
    color: rgb(223, 0, 0);
}
.open_post > .open_post_column:nth-child(2) > div:nth-child(1){
 width: 90px;
 height: 90px;
 border-radius: 10px;
 background: url('../../images/recommend_bts.jpg') no-repeat;
 background-position: center;
 background-size: cover;
}
.open_post > .open_post_column:nth-child(2){
    position: relative;
}
.open_post > .open_post_column:nth-child(2) > div:nth-child(2){
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 4px 8px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: fit-content;
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 14px;
}
.open_post > .open_post_column:nth-child(2) > div:nth-child(2) > span{
    margin-left: 3px;
}

