@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Noto+Sans:wght@400;700&display=swap');
*{font-family: 'NotoSans Light','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;}
.wrap{
    min-width: 1240px;
}
.header_wrap{
    width: 100%;
    position: fixed;
    min-width: 1240px;
    height: 60px;
    z-index: 99999;
    color: #1e1e1e;
}
.main_header{
    max-width: 1760px;
    height: 60px;
    padding: 0 80px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
}

.header_wrap.white > .main_header > nav > .main_menu > .main_menu-list > a{
    color: #ffffff;
}
/* 화이트일 때, 헤더에 온이 붙었을때(호버), 헤더가 움직인 상태일때 모두 디폴트 값은 회색 */
.header_wrap.white > .main_header > .header_util-lang > .lang > li > a,
.header_wrap.on > .main_header > .header_util-lang > .lang > li > a,
.header_wrap.moved > .main_header > .header_util-lang > .lang > li > a,
.header_wrap.white.on > .main_header > .header_util-lang > .lang > li.lang_ko > a ,
.header_wrap.white.on > .main_header > .header_util-lang > .lang > li.lang_en > a{
    color: #666;
}

.header_wrap.on > .main_header > nav > .main_menu > .main_menu-list > a,
.header_wrap.moved > .main_header > nav > .main_menu > .main_menu-list > a{
    color: #1e1e1e;
    border-bottom: 2px solid transparent;
}
/* 화이트일때 온이 붙으면 흰색 온이 붙은 것은 흰색으로 변하고 온이 붙지 않은 것은 디폴트값을 유지 */
.header_wrap.white > .main_header > .header_util-lang > .lang > li.lang_ko.on > a ,
.header_wrap.white > .main_header > .header_util-lang > .lang > li.lang_en.on > a {
    color: #ffffff;
    font-weight: bold;
}
/* 헤더에 온이면서 화이트인 경우 */
.header_wrap.white.on > .main_header > .header_util-lang > .lang > li.lang_ko.on > a ,
.header_wrap.white.on > .main_header > .header_util-lang > .lang > li.lang_en.on > a ,
.header_wrap.white.moved > .main_header > .header_util-lang > .lang > li.lang_ko.on > a ,
.header_wrap.white.moved > .main_header > .header_util-lang > .lang > li.lang_en.on > a ,
.header_wrap.black > .main_header > .header_util-lang > .lang > li.lang_ko.on > a ,
.header_wrap.black > .main_header > .header_util-lang > .lang > li.lang_en.on > a{
    color: #1e1e1e;
    font-weight:bold;
}

.header_wrap.on, .header_wrap.moved {
    background-color:#FBFBFB;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.header_wrap.white > .header_util-lang > .lang > li > a,
.header_util-lang > .lang > li > a {
    color: #666;
    font-size: 14px;
}

.logo{
    position: absolute;
    top: calc(50% - 2px);
    left: 80px;
    transform: translateY(-50%);
}
.logo > img{
    display: block;
}
nav{
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
}

nav > .main_menu > .main_menu-list a{
    display: block;
    color: #1e1e1e; /*컬러 자바스크립트로 변경*/
  
}
nav > .main_menu > .main_menu-list > a{
    height: 60px;
    padding: 0 14px 0 13px;
}

.header_wrap.on > .main_header > nav > .main_menu > .main_menu-list.on > a{
    border-bottom: 2px solid #1e1e1e;
}
.header_wrap.on > .main_header > nav > .main_menu > .main_menu-list:nth-child(5) > a:hover,
.header_wrap.on > .main_header > nav > .main_menu > .main_menu-list:nth-child(6) > a:hover{
    border-bottom: 2px solid #1e1e1e;
}
/* 마지막 li의 화살표 */
.main_menu-list:nth-child(6) > a > span{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 4px;
    -webkit-background-img: url(../images/ico_corp_181031.png);
    -webkit-background-size: 350px 350px;
    -webkit-background-position: -175px 0;
    background-image: url(../images/ico_corp_181031.png);
    background-size: 350px 350px;
    background-position: -175px 0;
}

nav > .main_menu > .main_menu-list a > h2{
    font-size: 16px;
    display: inline;
}

.main_menu > .main_menu-list{
    float: left;
}
.menu_lnb_box{
    display: none;
    width: 100%;
    position: absolute;
    top:60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FBFBFB;
    text-align: center;
    font-size: 0;
    overflow: hidden;
}
ul.menu_lnb{
    min-width: 1160px ;
    margin: 0 auto;
}
.menu_lnb > li::before{
    content: '';
    display: inline-block;
    position: absolute;
    top:0;
    bottom: -200%;
    left: 0;
    border-left: 1px solid rgba(0,0,0, .1);
    z-index: -1;
} 
ul.menu_lnb > li:last-child::after{
    content: '';
    display: inline-block;
    position: absolute;
    top:0;
    bottom: -100%;
    right: 0;
    border-right: 1px solid rgba(0,0,0, .1);
}
.menu_lnb > li{
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    position: relative;
    padding: 57px 0 60px ;
    min-width: 12%;
}

.main_menu-list.on > .menu_lnb_box{
    display: block;
}
.menu_lnb > ul{
    font-size: 0;
}
nav > .main_menu .menu_lnb a{
    line-height: 1.6;
}
nav > .main_menu .menu_lnb > li > a{
    padding: 0 13px 18px;
}
nav > .main_menu .menu_lnb > li > ul > li{
    padding: 6px 13px 6px;
}
.menu_lnb > li > ul > li > a{
    font-size: 13px;
}
.header_util-lang{
    float: right;
}
.header_util-lang ul{
    line-height: 60px;
    vertical-align: middle;
    font-size: 0;
}
.header_util-lang ul > li {
    display:inline-block;
    font-size: 16px;
}
.lang li+li {
    margin-left: 15px;
}

li[class^=slide_item_] img{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}
li[class^=slide_item_].white .slide_info{
    color: #FFFFF1;;
}
li[class^=slide_item_].black .slide_info{
    color: #1E1E1E;
}
.slide_info{
    position: absolute;
    top:0;
    left: 0;
    padding: 118px 80px 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
}
.slide_info button{
    display: inline-block;
    height: 38px;
    padding: 0 20px;
    border: 1px solid #1e1e1e;
    font-size: 14px;
    line-height: 39px;
    color: #1e1e1e;
    cursor: pointer;
    margin-top: 31px;
    border: transparent;
    background-color: #fff;
}
.slide_info button::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 9px;
    -webkit-background: url(../images/ico_corp_181031.png);
    -webkit-background-size: 350px 350px;
    -webkit-background-position: -115px -65px;
    background: url(../images/ico_corp_181031.png);
    background-size: 350px 350px;
    background-position: -115px -65px;
    margin-left: 32px;
}
.slide_info button:hover{
    background-color: #1e1e1e;
    color: #FFFFF1;
}
/* 버튼의 제 몸체 안의 내부요소(하위x)이기 때문에 버튼호버시 에프터도 움직일 수 있다. 에프터 비포의 특성 a호버시 b(다른요소)에 효과와는 다른 구조 */
.slide_info  button:hover::after{
    -webkit-background-position: -130px -65px;
    background: url(../images/ico_corp_181031.png);
    background-size: 350px 350px;
    background-position: -130px -65px;
}

.main_slide > .bx-wrapper{
    border:0;
    box-shadow: none;
    z-index: 100;
}
.main_slide > .bx-wrapper .bx-prev,
.main_slide > .bx-wrapper .bx-next {
    -webkit-background: url(../images/ico_corp_181031.png);
    -webkit-background-size: 350px 350px;
    background: url(../images/ico_corp_181031.png);
    background-size: 350px 350px;
}
.main_slide .bx-wrapper .bx-prev {
    left: 0;
    width: 40px;
    height: 40px;
    -webkit-background-position: -155px -110px !important;
    background-position: -155px -110px !important;
    border-top:1px solid transparent;
    border-right:1px solid transparent;
    border-bottom:1px solid transparent;
}

.main_slide .bx-wrapper .bx-next {
    right: 0;
    width: 40px;
    height: 40px;
    -webkit-background-position: -205px -110px !important;
    background-position: -205px -110px !important;
    border-top:1px solid transparent;
    border-left:1px solid transparent;
    border-bottom:1px solid transparent;
}
.main_slide .bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus{
    -webkit-background-position: -155px -110px;
    background-position: -155px -110px;
    border-radius: 0 4px 4px 0;
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}

.main_slide .bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{
    -webkit-background-position: -205px -110px;
    background-position: -205px -110px;
    border-radius:4px 0  0 4px;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    border-bottom:1px solid #fff;
}
.main_slide .bx-wrapper .bx-pager{
    bottom: 18px;
    right: 0;
    width: auto;
    padding: 0 80px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.content_container{
    padding-bottom: 180px;
}
.summary, .primary{
    max-width: 1800px;
    margin: 0 auto;
}
.summary{
    padding: 35px 60px 0;
}
.primary{
    padding: 76px 60px 0;
}

.summary_list, .primary_list{
    max-width: calc(1800px + 40px);
    overflow: hidden;
}
.summary_list > li , .primary_list > li{
    width: 33.333333%;
    padding: 0 20px;
    float: left;
}
.primary_list > li > a > img{
    vertical-align: top;
    width: 100%;
}
.primary_list > li > a,
.primary_list > li > a > strong{
    display: block;
}

.summary_list > li > a {
    color: #1e1e1e;
}
.summary_list > li > h3{
    font-weight: normal;
    font-size: 14px;
    color: #1e1e1e;
    font-family: 'NotoSans Regular','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;
}

.summary_list > li > a > strong{
    display: block;
    padding-top: 18px;
    font-size: 20px;
    line-height: 32px;
}
.summary_list > li > a > p{
    box-sizing: content-box;
    display: -webkit-box;
    overflow: hidden;
    max-height: 66px; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    padding-top: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    font-family: 'NotoSans Light','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;
}
.summary_stock > .stock_box > .stock-price{
    font-size: 32px;
    font-weight: bold;
    line-height: 45px;
}
.stock_box{
    padding-top: 33px; 
}
.des-stock{
    display: inline-block; 
    font-size: 20px;
    vertical-align: top;
    color: #ff0018;
}
.stock-date{
    display: block;
    padding-top: 28px;
    font-size: 12px;
    font-family: 'NotoSans Light','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;
}
.primary_list > li > a {
    display: block;
    position: relative;
    color: #1e1e1e;
    font-family: 'NotoSans Light','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;
}
.primary_list > li > a > img{
    vertical-align: top;
    margin-bottom: 14px;
}
.primary_list > li > a > h3{
    position: absolute;
    top:15px;
    left: 20px;
    font-weight: normal;
    font-size: 14px;
}
.primary_list > .primary_tech > a > h3{
    color:white;
}
.primary_list > li > a > strong{
    display: block;
    padding-top: 18px;
    font-size: 20px;
    line-height: 32px;
}
.primary_list > li > a > p{
    padding-top: 8px;
    font-size: 14px;
    line-height: 1.6; /* 22px  14 * 1.6  = 22 */
    max-height: 66px;/* 22 * 3(3줄) */
    color: #666;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    box-sizing: content-box;
}

.stock_up-down-icon{
    display: inline-block;
    width: 18px;
    height: 14px;
    -webkit-background: url(../images/ico_corp_181031.png);
    -webkit-background-size: 350px 350px;
    -webkit-background-position: -40px -20px;
    background: url(../images/ico_corp_181031.png);
    background-size: 350px 350px;
    background-position: -40px -20px;
    margin: 19px 0 0 18px;

}
.footer_wrap{
    max-width: 1760px;
    padding: 22px 80px 0;
    height: calc(78px + 22px); /* box-sizing: content; */
    position: relative;
    
}
.footer_wrap::after{
    content: '';
    display: block;
    clear: both;
}
ul.footer_menu{
    font-size: 0;
    float: left;
    width: 100%;
}
.footer_menu > li{
    display: inline-block;
    font-size: 16px;
    margin-right: 12px;
}
.footer_lnb-menu, .footer_util-lnb-menu{
    display: none;
}
.footer_util{
    position: absolute;
    top: 15px; /* 22px-7px (30px-16px) */
    right: 80px;
}
.footer_menu-list > a, .footer_util-list > a{
    display: block;
    position: relative;
    margin-right: 8px;
    font-size: 12px;
    color: #1e1e1e;
    font-family: 'NotoSans Light','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;
}
.footer_util-list > a{
    display: block;
    width: 160px;
}
.footer_drop-icon{
    vertical-align: top;
    display: inline-block;
    width: 7px;
    height: 4px;
    -webkit-background: url(../images/ico_corp_181031.png);
    -webkit-background-size: 350px 350px;
    -webkit-background-position: -275px -25px;
    background: url(../images/ico_corp_181031.png);
    background-size: 350px 350px;
    background-position: -275px -25px;
    margin-top: 2px;
    margin-left: 6px ;
}

.footer_menu-list.on > .footer_drop-icon{
    -webkit-background-position: -285px -25px;
    background-position: -285px -25px;
}

.footer_menu-list{
    position: relative;
}
.footer_menu-list > ul, .footer_util-list{
    line-height: 30px;
}
.footer_menu-list > ul > li > a:hover, .footer_util-list > ul > li > a:hover{
    text-decoration: underline;
}

.footer_menu-list > ul > li > a, .footer_util-list > ul > li > a{
    display: block;
    padding: 0 14px 0;
    font-size: 12px;
    white-space: nowrap;
    color: #1e1e1e;
}
.footer_menu-list > ul > li > a:not(.exceptional_icon)::after, .footer_util-list > a::after{
    content: '';
    display: inline-block;
    -webkit-background: url(../images/ico_corp_181031.png);
    -webkit-background-size: 350px 350px;
    background: url(../images/ico_corp_181031.png);
    background-size: 350px 350px;
}
.footer_menu-list > ul > li > a:not(.exceptional_icon)::after{
    width: 13px;
    height: 13px;
    -webkit-background-position: -155px 0;
    background-position: -155px 0;
    margin-left: 6px;
}
.footer_menu-list.on > ul, .footer_util-list.on > ul{
    display: block;
    position: absolute;
    bottom: calc(100% + 12px );
}
.footer_util-list.on > ul{
    bottom: calc(100% + 12px - 7px);
}
.footer_menu-list > ul, .footer_util-list > ul{
    border: 1px solid rgba(0,0,0, .1);
    padding: 11px 0 11px;
    background-color: #fff;
}
.footer_menu-list.on > a{
    color: #1e1e1e;
    font-weight: bold;
}
.footer_util-list > a::after{
    width: 9px;
    height: 9px;
    -webkit-background-position: -143px -65px;
    background-position: -143px -65px;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}
.footer_util-list.on > a::after{
    /* transform: rotate(45deg);
    margin-top: -2px; 9의 4분의 1 값*/
    width: 8px;
    height: 7px;
    -webkit-background-position: -172px -65px;
    background-position: -172px -65px;
}
.footer_util-list > a{
    position: relative;
    line-height: 30px;
    border-bottom: 1px solid black;

}
.footer{
   border-top: 1px solid rgba(0,0,0, .1);
}
.copyright{
    padding-top: 2px;
    font-size: 12px;
    color: #666;
    clear: both;
    line-height: 1.5;
}
aside{
    position: fixed;
    bottom: 160px;
    right: 40px;
    z-index: 0;
    cursor: pointer;
}
.link-top{
    display: block;
    width: 21px;
    height: 30px;
    -webkit-background: url(../images/ico_corp_181031.png);
    -webkit-background-size: 350px 350px;
    -webkit-background-position: -90px -10px;
    background: url(../images/ico_corp_181031.png);
    background-size: 350px 350px;
    background-position: -90px -10px;
}
::selection{background: rgba(255,238,51,0.99); color: #1e1e1e;}