/* .calendar {
  padding: 20px;
  border: 1px solid black;
}
table > tbody > tr > td {
  padding: 30px;
  border: 1px solid black;
}
table.calendar > caption {
  border: 1px solid black;
}
table.calendar > caption > i:nth-child(1) {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}
table.calendar > caption > i:nth-child(3) {
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
} */
/* tablecele */
/* * {
  border: 1px solid black;
  box-sizing: border-box;
} */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'GmarketSansMedium';
  padding: 0;
  margin: 0;
}
.calendar {
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* width: 50rem; */
  width: calc(60% - 10%);
  padding: 5% 5%;
  margin: 5% auto 0;
}
.calendar-head {
  background-color: aquamarine;
  padding: 5%;
}
.calendar-head > .calendar_info {
  /* border: 1px solid red; */
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}
.calendar-head::after,
.calendar_info::after,
.weekday::after,
.monthdays::after {
  content: "";
  display: block;
  clear: both;
  /* border: 1px solid purple; */
}
.calendar_info > i {
  /* border: 1px solid lime; */
  vertical-align: middle;
  line-height: 48px;
  margin: 0 20px 0;
  cursor: pointer;
}
.date {
  text-align: center;
  display: inline-block;
}
.date > span {
  display: block;
}
.calendar-head > .calendar_info > i,
.calendar-head > .calendar_info > div.date {
  float: left;
}
.calendar-body {
  padding: 2% 0 0;
}
.calendar-body > .weekday > div,
.calendar-body > .monthdays > div {
  width: calc(100% / 7 - 4%);
  float: left;
  text-align: center;
  /* border: 1px solid green; */
  padding: 1% 2%;
}
.prevmonth,
.nextmonth {
  opacity: 0.3;
}
.today {
  background-color: aquamarine;
}
/* 서머리 */
.summary{
  transition: all 0.5s linear;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -340px;
  width: 300px;
  padding: 10% 20px 0;
  background-color: rgba(238, 238, 238, 0.9);;
  z-index: 10000;
}
.summary.on{
  transition: all 0.5s linear;
  left: 0;
}
.summarybtn{
  width: 45px;
  height: 120px;
  background-color: rgba(238, 238, 238, 0.9);
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 10px 10px 0;
}
.summarybtn i{
  font-size: 30px;
  color: rgb(87, 87, 87);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}
.blinktxt {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(340px + 8px);
  transform: translateY(calc(-100% - 8px));
  width: max-content;
  animation: blinkAni 2s infinite;
}
@keyframes blinkAni {
 0%{
     opacity: 1;
 }
 50%{
     opacity: 0.5;
 }
 100%{
     opacity: 0;
 }
}
.summary h2{
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.summary p{
  text-indent: 5px;
  margin-bottom: 20px;
}
.summary strong{
  text-indent: 5px;
  margin-bottom: 20px;
  font-weight: bold;

}
