.contact_content{
	width: 100%;
}
.contact_info{
	max-width: 1120px;
	margin: 0 auto;
}
.contact_title{
	padding: 0 0 70px 0;
	text-align: center;
}
.contact_title h2{
	font-family: "NanumSquare-EB", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
	font-size: 42px;
	color: #212121;
	letter-spacing: -2.5px;
}
.company_domestic{
	margin-top: 70px;
	font-size: 0;
}
.company_domestic h3{
	/* border:1px solid red; */
	display: inline-block;
	/*vertical-align: top;*/
	width: 23.5%;
	font-family: "NanumSquare-EB", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
	font-size: 20px !important;
	color: #333;
	line-height: 27px;
	letter-spacing: -0.2px;
}
.company_domestic dl{
	/* border:1px solid red; */
	display: inline-block;
	width: 76.5%;
	vertical-align: top;
}
.company_domestic dt{
	font-size: 15px !important;
	font-family: "NanumSquare-B", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
    color: #333;
}
.company_domestic dd{
	margin:3px 0 21px;

	font-size: 15px !important;
	color: #606167;
	line-height: 1.8;
	letter-spacing: -0.1px;
}
.comany_international{
	margin-top: 70px;
	font-size: 0;
}
.comany_international h3{
	/* border:1px solid red; */
	display: inline-block;
	/*vertical-align: top;*/
	width: 23.5%;
	font-family: "NanumSquare-EB", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
	font-size: 20px !important;
	color: #333;
	line-height: 27px;
	letter-spacing: -0.2px;
}
.comany_international dl{
	/* border:1px solid red; */
	display: inline-block;
	width: 76.5%;
	vertical-align: top;
}
.comany_international dt{
	font-size: 15px !important;
	font-family: "NanumSquare-B", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
    color: #333;
}
.comany_international dd{
	margin: 3px 0 21px;

	font-size: 15px !important;
	color: #606167;
	line-height: 1.8;
	letter-spacing: -0.1px;
}
