.container{
	padding: 81px 0 160px;
}
.main_slide{
	position: relative;/*슬로건 포지션 고정시키기 위한 기준.*/
	overflow: hidden;/*.slide의 width 400%로 인한 가로 스크롤링 지우기*/
}
.slide_info_container{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
}
.slide_item{
	float: left;
	width: 25%; /*일단 레이아웃 상의 배치를 수평으로 동일하게 만들어줌(선형적 흐름)*/
}
.slide img{
	width: 100%; /*슬라이드 안의 이미지들이 자기 크기를 유지하도록 해줌*/
}
.slide {
	width: 400%;/*이미지 한 개가 브라우저 전체를 차지하는 값 25%가 400%로 확대되면 전체가 됨. 25*4=100 (1) 옆으로 스크롤링바가 생겨남*/
}
.slide:after{
	content: '';
	display: block;
	clear: both;
}/*.slide 이후에 가상요소에 대한 css 가상요소를 block화 하고, clear해줌. 플롯된 이미지들떄문에. 마더박스인 슬라이드가 이미지를 끌어안아 줌.(마더박스가 아닌 마더 박스 이후에 가상 요소에 클리어 보스를 준 것.) 이후에 오는 콘텐츠들 때문에.*/
.slide_info_box{
	display: block;
	width: 100%;
	height: 100%;
	color: #ffff;
	position: relative; /*슬라이드 로고 엡솔루트의 기준값*/
}
.slide_logo {
	position: absolute;
	right: 160px;
	background: url(../img/sprite.png) no-repeat;
	-webkit-background-size:474px 1250px;
	background-size:474px 1250px;/*배경에 들어가는 이미지의 전체 크기를 고정시켜서 알려주고 그다음에 position으로 x,y축으로 자리를 잡아준다.*/
	
}
.slide_logo.smartlens{
	width: 190px;
	height: 38px;
	background-position: 0 -1062px;/*x,y값 */
	bottom: 78px;
}/*선택자 붙여쓰면 동시에 찾는 것이고 띄어쓰면 부모 자식관계의 선택자.*/
.slide_logo.flower{
	width: 190px;
	height: 53px;
	background-position: -143px -1101px;/*x,y값 */
	bottom: 78px;
}
.slide_logo.spacegreen{
	width: 134px;
	height: 50px;
	background-position: 0 -1104px;/*x,y값 */
	bottom: 78px;
}
.slide_logo.labs{
	width: 168px;
	height: 27px;
	background-position: -192px -1162px;/*x,y값 */
	bottom: 78px;
}

.slide_text_box{
	position: absolute;
	left: 160px;
	bottom:157px;
}
.slide_title{
	font-family:"NanumSquare", 나눔고딕, 돋움,"Dotum",sans-serif;
	margin-bottom: 32px;
	font-size: 36px;
	line-height:46px;
}
.slide_title strong{
	display: table-cell;/*tr의 역할. 인라인같아짐, 위치 고정의 역할을 하기 위해서*/
	vertical-align: middle;/*테이블셀 선언으로 버티컬 얼라인이 가능*/
	height: 92px;
}
.slide_text{
	font-size: 15px;

}
.slide_text span{
	display: table-cell;/*하지 않으면 자신의 성격이 부모에 의해서(p태그) 설정. tr로 묶어주고(인라인 블록) 프로그레서 바를 넣어주려고 하는 것.*/
	vertical-align: middle;
	height: 48px;
}
/*프로그레스 바*/
.slide_progressbar{
	position: absolute; /*기준점은 main_slide 기준(포지선 렐러티브 선언됨 기준으로 계산함.*/
	height: 1px;
	right: 160px;
	bottom: 221px;
	width: calc(100% - 320px);
	background-color: rgba(255,255,255,0.3);
}
.slide_progressbar .fill{
	position: absolute;/*프로그레서바가 엡솔루트로 포지션값을 가지고 있어서 걔가 기준.*/
	left: 0;
	top: 0;
	height: 1px;
	background-color: #fff;
}
.slide_paging{
	position: absolute;/*main_slide 기준(포지선 렐러티브 선언됨*/
	left: 160px;
	bottom: 114px;
	color:#fff;
	font-size: 0px;
	font-family: "NanumSquare", 나눔고딕, 돋움,"Dotum",sans-serif;
}
.slide_paging .current{
	padding-right: 14px;
	border-right: 1px solid #d6d6d6;
	font-size: 12px;
}
.slide_paging .total{
	padding-left: 14px;
	font-size: 12px;
}

.btn_prev,.btn_next{
	position: absolute;/*main_slide 기준(포지선 렐러티브 선언됨*/
	bottom: 198px;
	width: 46px;
	height: 46px;
	background: url(../img/sprite.png) no-repeat;
	-webkit-background-size:474px 1250px;
	background-size:474px 1250px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	border:0;
}

.btn_prev{
	left: 85px;
	background-position: -296px -99px;
}
.btn_next{
	right: 85px;
	background-position: -346px -99px;
}
.btn_prev:hover, .btn_prev:focus, .btn_next:hover, .btn_next:focus{
	opacity: 1;
	filter: alpha(opacity=100);
}
